@using ROClothing.Models.ViewModels;
@model ShoppingCart;
@{
    ViewData["Title"] = "Details";
}

<div class="container mt-5">
    <div class="col-lg-8 m-auto p-5 my-box-shadow bg-vlightgray">
        <div class="row">
            <div class="col-lg-6">
                <img src="@Model.Product.ProductImage" class="img-fluid"/>
            </div>
            <div class="col-lg-6 details-right">
                <a class="btn" asp-action="Index"><i class="bi bi-x-circle"></i></a>
                <h2>@Model.Product.ProductName</h2>
                <div class="rating">
                   <i class="bi bi-star-fill"></i>
                   <i class="bi bi-star-fill"></i>
                   <i class="bi bi-star-fill"></i>
                   <i class="bi bi-star-fill"></i>
                   <i class="bi bi-star-fill"></i>
                </div>
                <p class="bg-secondary ps-2 fw-bold text-light">@Model.Product.Category.CategoryName</p>
                <hr class="w-25"/>
                <p class="fs-5 text-secondary">
                    @Model.Product.ProductDescription
                </p>

                <h2><del>N</del>@Model.Product.Price</h2>
                
                <p class="fw-bold"><span class="text-secondary">AVAILABILITY: </span>IN STOCK</p>
                
                <hr />
                <div class="row">
                    <div class="col-4">
                        <div class="row cart-buttons">
                            <div class="col">
                                <a asp-page-handler="">-</a>
                            </div>
                            <div class="col border-1">
                                <h3>@Model.NoOfItems</h3>
                            </div>
                            <div class="col border-1">
                                <a asp-page-handler="">+</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <button class="btn bg-black text-light" type="submit">
                            <i class="bi bi-bag-check-fill"></i> &nbsp;
                            ADD TO CART
                        </button>
                    </div>
                    <div class="col-2">
                        
                    </div>
                </div>
                <hr />
                <div class="social-icons-details">
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-envelope"></i></a>

                </div>

            </div>
        </div>
    </div>
</div>
